.app{
    min-height: 100vh !important;
    width: 100% !important;
    background-color: #0d0d0d;
}

.flex {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
