.navbar{
 background-color: #181818 !important;
}
.searchbar{
    background-color: #2d2d2d !important;
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #959595 !important;
    padding: 5px 20px;
}
.searchbar::placeholder{
    color: #787878;
}
.searchbar:focus{
    box-shadow: 0 0 0 0.15rem #16cff8  !important;
}
#navbarScrollingDropdown{
    color: #fff !important;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 7px 15px !important;
    font-size: 17px;
    font-weight: 500;
}